{{define "base"}}
<!doctype html>
<html lang="en">
<head>
  {{template "head" .}}
</head>
<body x-data="{ loaded: true, sidebarToggle: false }">
  {{template "preloader" .}}

  <div class="relative p-6 bg-white z-1 sm:p-0">
    <div class="relative flex flex-col justify-center w-full h-screen sm:p-0 lg:flex-row">
      <div class="flex flex-col flex-1 w-full lg:w-1/2">
        <div class="flex flex-col justify-center flex-1 w-full max-w-md mx-auto">
          {{template "content" .}}
        </div>
      </div>

      <div class="relative items-center hidden w-full h-full bg-brand-950 lg:grid lg:w-1/2">
        <div class="flex items-center justify-center z-1">
          <div class="absolute right-0 top-0 -z-1 w-full max-w-[250px] xl:max-w-[450px]">
            <img src="/static/images/shape/grid-01.svg" alt="grid" />
          </div>
          <div class="absolute bottom-0 left-0 -z-1 w-full max-w-[250px] rotate-180 xl:max-w-[450px]">
            <img src="/static/images/shape/grid-01.svg" alt="grid" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/static/vendor/tailadmin/bundle.js"></script>
  {{block "scripts" .}}{{end}}
</body>
</html>
{{end}}
